    @font-face {
    font-family: "rubik";
    src: url("fonts/Rubik.ttf");
  }
  
  * {
    font-family: "rubik";
  }
  
  body {
    margin: 250px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }