body{
    background-image:url(/website/img/paper.webp);
}
 .card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: aliceblue;
  gap: 20px;
      justify-content: center;
      margin: 20px;
}
#img {
    position: fixed;
    bottom: 150px;
    right: 50px;;
    width: 350px;
    height: auto;
   
}

   .hidden {
      display: none;
    }
#allOrders{
   display: grid;
      grid-auto-flow: column;
      grid-auto-rows: auto;
      grid-template-rows: repeat(3, auto);
      row-gap: 10px;
      column-gap: 5px;
   
    }
   
      #place{
        display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  display: grid;
      grid-auto-rows: auto;
      grid-template-columns: repeat(3, auto);
      row-gap: 20px;
      column-gap: 10px;
      }