   #button {
      border-radius: 80%;
      width: 70px;
      height: 70px;
      font-size: large;
    }

    .hidden {
      display: none;
    }

    .card {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
      width: 400px;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin: 20px;
    }

    #artistsContainer {
      display: grid;
      grid-auto-flow: column;
      grid-auto-rows: auto;
      grid-template-rows: repeat(3, auto);
      row-gap: 20px;
      column-gap: 10px;
      width: max-content;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: antiquewhite;
    }

    a {
      color: black;
      text-decoration: none;
    }

    .addArtistinfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
    }

    .formBox {
      position: absolute;
      top: 100%;
      right: 0;
      padding: 15px;
      margin-top: 10px;
      z-index: 100;
    }
    #greetingDiv{
      font-size: large;
      font-family:monospace;
    }
    .remove {
        display: grid;
      grid-auto-flow: column;
      grid-auto-rows: auto;
  grid-template-rows: repeat(3, auto);
}
#myOrder{
    display: grid;
      grid-auto-flow: column;
      grid-auto-rows: auto;
  grid-template-rows: repeat(2, auto);

}